* {
    padding: 0;
    margin: 0;
}

#game-window {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}

.menu {
    width: 90%;
    margin: 20px auto;
}

#difficulty-options {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
}

#difficulty-options button {
    margin: 10px;
}

.difficulty-option {
    width: 100%;
    margin: 10px
}

#stat-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.counter {
    font-size: 2em;
}

.timer {
    font-size: 2em
}


#board {
    display: flex;
    /* margin: auto; */
    flex-wrap: wrap;
}

#gameDiv {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.spaces {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border: 2px outset gray;
}

.spaces-reveled {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    background-color: whitesmoke;
}